<div class="toolBox">
                    <img src="images/transform.png" alt="transform tool" class="imgSize">
                    <img src="images/pen.png" alt="pen tool" class="imgSize">
                    <img src="images/pencil.png" alt="pencil tool" class="imgSize" ng-class="{'simg': type==1}" ng-click="line(1,2)" ng-model="stopLine">
                    <img src="images/eraser.png" alt="eraser" class="imgSize" ng-class="{'simg': type==0}" ng-click="eraser()" ng-model="stopEraser">
                    <img src="images/brush.png" alt="brush tool" class="imgSize">
                    <img src="images/bucket.png" alt="fill tool" class="imgSize">
                    <img src="images/line.png" alt="line tool" class="imgSize">
                    <img src="images/text.png" alt="text tool" class="imgSize">
                    <img src="images/triangle.png" alt="triangle tool" class="imgSize">
                    <img src="images/square-1.png" alt="round square tool" class="imgSize">
                    <img src="images/oval.png" alt="oval tool" class="imgSize" ng-class="{'simg': type==2}" ng-click="circle(2,2)" ng-model="stopCircle">
                    <img src="images/polygon.png" alt="polygon tool" class="imgSize">
               </div>    